# https://www.njimedia.com/local-development-with-ssl-tls-p2/
SSLCertificateFile /var/www/cert/domain_dev.crt
SSLCertificateKeyFile /var/www/cert/domain_dev.key
SetEnvIf User-Agent ".*MSIE.*" nokeepalive ssl-unclean-shutdown
CustomLog /server/path/logs/ssl_request_log \
  "%t %h %{SSL_PROTOCOL}x %{SSL_CIPHER}x \"%r\" %b"
